*.log
*.txt
*.py
# But not the ones in HYDFS/business
!HYDFS/
!HYDFS/business/
!HYDFS/business/*.txt
# Ignore all files in HYDFS/business/ containing 'mb' in the name
HYDFS/business/*mb.txt



!Test1/
!Test1/*.txt